## Agenda
* Menus, toolbars and shortcut keys of Jupyter NB
* Python Introduction & Features
* Basic Programming syntax
* Data Types
* Typecasting
* Slicing
* Operators
* Some functions

## Short cut keys
* A->insert cells above
* B->insert cells below
* dd->delete the cell
* shift+Enter->Run the cell and goes to next cell
* ctrl+Enter->Run the cell and stays in the same cell
* M->markdown the cell
* Y->code option in the cell
* R-> raw in the cell

### Python
* 1991, Guido Van Rossum
* simple,easy to learn
* Object -oriented language
* open source
* powerful DataScience,Web applications
* portable,interactive
* open community group

### Basic Programming Syntax
* comments-single,multi-line
* print
* Identifiers,variables

# single line comment
"""""" or '''''' multi line comment

In [1]:
# This is single line comment
print("Good Evening")

Good Evening

In [7]:
''' This is first line
second line
third line '''
print('GGood Evening')

GGood Evening

In [4]:
"""This is first line
second line
third line"""
print("Sorry for the inconvenience")
print("Good night")

Sorry for the inconvenience
Good night

In [1]:
print('Good Evening all')

Good Evening all

Identifiers-> names given to identify the variables,function name, packages
Rules
    alphabets/digits/_
    doesn't contain any special chars
    start with _ or alphabets

In [2]:
x1_ = 5
x1_

5

In [5]:
y = 50

In [7]:
x1_ = 20
print(x1_)
y

20

50

In [8]:
name_ = 'Deepa'
name_

'Deepa'

### Data Types
* bool->True/False
* int-> +ve,-ve,0 -whole no
* float-> decimal values-5.67
* str-> group of char,sp ch, digits "  "/'  '

In [9]:
# bool
a = True
b = False
print(a)
print(b)

True
False

In [12]:
type(b) # data type of a variable

bool

In [15]:
# int
x = 67
y = -45
z = 0
print(x,y)
print(y)
print(z)

67 -45
-45
0

In [17]:
type(x)

int

In [18]:
# float
m = 10.56
n = -67.89
print(m,n)

10.56 -67.89

In [19]:
type(m)

float

In [20]:
2**8

256

In [21]:
print("m=",m)
print("n=",n)

m= 10.56
n= -67.89

In [29]:
# str
name = 'Deepa Dhevan12$'
print("My name is ", name)

My name is  Deepa Dhevan12$

In [30]:
type(name)

str

In [26]:
a

True

In [27]:
int(a)

1

In [28]:
int(b)

0

In [31]:
id(a)

140719388813136

In [34]:
#input- input from the user-> str
dd = input("Enter any value")
print("the value is",dd)

Enter any value67
the value is 67

In [35]:
type(dd)

str

In [36]:
dd = int(input("Enter any value"))
print("the value is",dd)

Enter any value67
the value is 67

In [37]:
type(dd)

int

In [38]:
dd = float(input("Enter any value"))
print("the value is",dd)

Enter any value58.23
the value is 58.23

In [39]:
type(dd)

float

### Typecasting
* Auto
* Forced

In [40]:
# Auto
exp = 5 + 4.56
exp

9.559999999999999

In [41]:
exp1 = True + 4 -3.5 + 2
exp1

3.5

In [42]:
# Forced 
bool(5)

True

In [43]:
bool(0)

False

In [44]:
bool(-2)

True

In [4]:
int(10.7)

10

In [5]:
float(4)

4.0

In [8]:
str(True)

'True'

In [9]:
int('1')

1

In [12]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [11]:
float('5')

5.0

In [14]:
bool('True')

True

In [15]:
bool('0')

True

In [16]:
bool('')

False

In [21]:
vip=2

In [22]:
str(vip)

'5'

In [23]:
#Q 56.67 + True - bool('0') + int(5.78) -42 -bool(1)
56.67 + True - bool('0') + int(5.78) -42 -bool(1)

18.67

#### Slicing-substring,char
* 3 parameters start,stop(E),step

In [37]:
s1 = "Data Scientist"
s1[0]

'D'

In [46]:
len(s1)

14

In [48]:
s1[5]

'S'

In [51]:
s1[5:11:3]

'Se'

In [38]:
s1[-1:-6:-1]

'tsitn'

In [39]:
s1[:7] # starts from starting index 0

'Data Sc'

In [40]:
s1[5:] # display until the end of string

'Scientist'

In [41]:
s1[::-1]

'tsitneicS ataD'

In [42]:
s1[::1]

'Data Scientist'

In [53]:
print(a,"\n",b)

True
 False

In [1]:
x = 350
y = 45
if y > x:
    print("y is greater than x")
else:
    print("y is not greater than x")

y is not greater than x

In [2]:
a = 400
b= 50
if b > a:
     print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [25]:
bool('0')

True

In [26]:
bool('True')

True

In [29]:
bool('@')

True

In [30]:
bool('t')

True

In [32]:
bool(True)

True

In [33]:
str(True)

'True'

In [34]:
str(False)

'False'

In [35]:
str('hai')

'hai'

### Operators
* Arthimetic operator- +,-,*,/,//,%,**
* Conditional Operator->,<,>=,<=,!=,==
* Logical Operator- and, or

In [43]:
#Arithmetic Operators
x = 13
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y) #float Q
print(x//y) # int Q
print(x%y) # Rem
print(x**y) # Exponent/power

18
8
65
2.6
2
3
371293

In [44]:
#Conditional Operators
x = 13
y = 5
z = 5
print(x>y)
print(x<y)
print(x==y)
print(x!=y)
print(y==z) # equality

True
False
False
True
True

In [46]:
# Logical Operators-> and,or
x = 13
y = 5
z = 5
print((x>y)and(x!=y)) # T and T
print((x<y)or (x!=y))

True
True

In [50]:
a = 55
b = 107
c = 67
print((a>b) and (a==b))
print((a>b) or (a==b))
print((a>b) or (a!=b))

False
False
True

#### Some imp Functions
* upper,lower,split,format,eval

In [52]:
s1

'Data Scientist'

In [53]:
s1.upper()

'DATA SCIENTIST'

In [54]:
s1.lower()

'data scientist'

In [58]:
a = s1.split()
a

['Data', 'Scientist']

In [59]:
a[0]

'Data'

In [60]:
a[1]

'Scientist'

In [56]:
s2 = 'Hai everyone! Good Evening'
s2.split()

['Hai', 'everyone!', 'Good', 'Evening']

In [61]:
s2.split('!')[0]

'Hai everyone'

In [64]:
s2.split('!')[1]*4

' Good Evening Good Evening Good Evening Good Evening'

In [71]:
s1.split('a',1)

['D', 'ta Scientist']

In [67]:
# format {} place holder
name = 'Deepa'
age = 33
role = 'Data Scientist'
print("My name is {}, my age is {} and my role is {}".format(name,age,role))

My name is Deepa, my age is 33 and my role is Data Scientist

In [69]:
name = 'Deepa'
age = 33
role = 'Data Scientist'
print("My name is {0}, my age is {2} and my role is {1}".format(name,role,age))

My name is Deepa, my age is 33 and my role is Data Scientist

In [70]:
# eval
exp = eval(input("Enter an expression"))
exp

Enter an expression5+bool(3) -True + 2.6

7.6