## Agenda
* Conditional statements
* Loops
* List
* Tuples
* Dictionary
* Sets
* Functions

### Conditional Statements->if, if-else, elif

In [6]:
# if 
num = 5
if(num>0):
    print("The number is positive")
    print("Inside if")
print("Outside if")

The number is positive
Inside if
Outside if

In [10]:
# if -else
num =int(input("Enter a number"))
if(num>0):
    print("The number is positive")
    print("Inside if")
else:
    print("The number is negative")
    print("Inside else")
print("Outside if-else")

Enter a number0
The number is negative
Inside else
Outside if-else

In [13]:
# if -elif
num =int(input("Enter a number"))
if(num>0):
    print("The number is positive")
    print("Inside if")
elif(num<0):
    print("The number is negative")
    print("Inside elif")
else:
    print("The number is Zero")
    print("Inside else")
print("Outside if-elif")

Enter a number5
The number is positive
Inside if
Outside if-elif

In [17]:
# Q) Check whether the given no is divisible by 2,3, 2 and 3
# 12,4,21 
num =int(input("Enter a number"))
if((num%2==0) and (num%3==0)):
    print("Both 2 and 3")
elif(num%2==0):
    print("2")
elif num%3==0 :
    print("3")
else:
    print("NOT")

Enter a number29
NOT

### Loops-> for, while

In [19]:
# while loop
i=1
while(i<=10):
    print("I crossed {} step".format(i))
    i=i+1
print("End of the program")

I crossed 1 step
I crossed 2 step
I crossed 3 step
I crossed 4 step
I crossed 5 step
I crossed 6 step
I crossed 7 step
I crossed 8 step
I crossed 9 step
I crossed 10 step
End of the program

In [21]:
#Q) print 100 to 90 in the reverse order using while loop
i=100
while(i>=90):
    print("I crossed {} step".format(i))
    i=i-2
print("End of the program")

I crossed 100 step
I crossed 98 step
I crossed 96 step
I crossed 94 step
I crossed 92 step
I crossed 90 step
End of the program

In [22]:
#for loop->range-3 params-start,stop(E),step
for i in range(5):  # stop(E)
    print(i)

0
1
2
3
4

In [23]:
for i in range(1,5): #start,stop(E)
    print(i)

1
2
3
4

In [24]:
for i in range(1,10,2): #start,stop(E),step
    print(i)

1
3
5
7
9

In [25]:
for i in range(1,11):
    print("I crossed {} step".format(i))

I crossed 1 step
I crossed 2 step
I crossed 3 step
I crossed 4 step
I crossed 5 step
I crossed 6 step
I crossed 7 step
I crossed 8 step
I crossed 9 step
I crossed 10 step

In [26]:
for i in range(100,89,-2):
    print("I crossed {} step".format(i))

I crossed 100 step
I crossed 98 step
I crossed 96 step
I crossed 94 step
I crossed 92 step
I crossed 90 step

In [27]:
# sum of nos for loop
num = int(input("Enter the number"))
sum=0
for i in range(num+1):
    sum = sum+i
print("Sum=",sum)

Enter the number5
Sum= 15

In [31]:
# sum of nos for loop
sum=0
for i in range(1,51):
    sum = sum+i
print("Sum=",sum)

Sum= 1275

### List
* heterogeneous collection of elements
* []
* mutable- change/modify
* operations->insert,delete

In [31]:
r1 = [1,2,6.7,'hi',True]
r1

[1, 2, 6.7, 'hi', True]

In [33]:
type(r1)

list

In [36]:
#Extract values
r1[2]

6.7

In [38]:
r1[2:]

[6.7, 'hi', True]

In [40]:
r1[-1]

True

In [45]:
d= r1[-1:-4:-1]
d

[True, 'hi', 6.7]

In [46]:
d.reverse() # Reverse the d list
d

[6.7, 'hi', True]

In [3]:
r1[2] = 6
r1

[1, 2, 6, 'hi', True]

In [4]:
r1

[1, 2, 6, 'hi', True]

In [ ]:
#Operations-> insert,append,extend
#pop,remove,del,clear

In [5]:
r1.insert(2,'Three')  # pos before it has to be inserted,element(pos,ele)
r1

[1, 2, 'Three', 6, 'hi', True]

In [6]:
r1.append(10) # insert an element at the end of the list
r1

[1, 2, 'Three', 6, 'hi', True, 10]

In [7]:
r1.extend([20,30,40]) # insert many elements at the end of the list
r1

[1, 2, 'Three', 6, 'hi', True, 10, 20, 30, 40]

In [8]:
r2 = [11,22,33]
r2

[11, 22, 33]

In [13]:
r2.extend(r1) # joining another list
r2

[11,
 22,
 33,
 1,
 2,
 'Three',
 6,
 'hi',
 True,
 10,
 20,
 30,
 40,
 1,
 2,
 'Three',
 6,
 'HI',
 True,
 10,
 20,
 30,
 40]

In [14]:
type(r2)

list

In [10]:
r1

[1, 2, 'Three', 6, 'hi', True, 10, 20, 30, 40]

In [11]:
r1.index('hi') # tells the position of the element

4

In [12]:
r1[4] = 'HI'
r1

[1, 2, 'Three', 6, 'HI', True, 10, 20, 30, 40]

In [15]:
r1

[1, 2, 'Three', 6, 'HI', True, 10, 20, 30, 40]

In [18]:
# pop ->delete last element and it returns the deleted/last element
r1.pop()

30

In [19]:
r1

[1, 2, 'Three', 6, 'HI', True, 10, 20]

In [20]:
r1.remove(6) # deletes the particular element

In [21]:
r1

[1, 2, 'Three', 'HI', True, 10, 20]

In [22]:
del r1[3] # deletes the element of a particular index/position

In [23]:
r1

[1, 2, 'Three', True, 10, 20]

In [37]:
del r1[-1]

In [25]:
r1

[1, 2, 'Three', True, 10]

In [26]:
del r1 # delete the list from memory itself

In [28]:
r2

[11,
 22,
 33,
 1,
 2,
 'Three',
 6,
 'hi',
 True,
 10,
 20,
 30,
 40,
 1,
 2,
 'Three',
 6,
 'HI',
 True,
 10,
 20,
 30,
 40]

In [29]:
r2.clear() # clear the elements of the list, so list is empty

In [30]:
r2

[]

In [32]:
r1

[1, 2, 6.7, 'hi', True]

In [34]:
r1.pop(2)

6.7

In [35]:
r1

[1, 2, 'hi', True]

In [38]:
r1.append(1)
r1

[1, 2, 'hi', 1]

In [39]:
r1.remove(1)
r1

[2, 'hi', 1]

In [40]:
r1.insert(0,25)
r1

[25, 2, 'hi', 1]

In [41]:
r1.index(25)

0

In [43]:
r = ['one','two','three']
r.index('two')

1

In [44]:
r1=[1,1,5,6,8,9,25,36]
r1

[1, 1, 5, 6, 8, 9, 25, 36]

In [45]:
r1.index(8)

4

In [46]:
del r1[0:3] # deleting multiple elements

In [47]:
r1

[6, 8, 9, 25, 36]

In [49]:
# Nested List
r1[3]=[11,12,13]
r1

[6, 8, 9, [11, 12, 13], 36]

In [50]:
r1[3][1]

12

In [52]:
r1[3][2]

13

### Tuples
* hetereogeneous collection of elements
* ()
* immutable

In [53]:
t1 = (1,2,6.7,'hi',True)
t1

(1, 2, 6.7, 'hi', True)

In [54]:
t1.index(2)

1

In [55]:
t1.count(6.7)

1

In [35]:
type(t1)

tuple

In [37]:
t1[2]

6.7

In [39]:
t1[2:]

(6.7, 'hi', True)

In [48]:
t1[2] =6
t1

TypeError: 'tuple' object does not support item assignment

### Dictionary
* collection of key/value pairs
* {},':' separate key & value
* change value but not key, key is unique

In [56]:
d1 = {1:'one',2:'two',3:'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [57]:
type(d1)

dict

In [58]:
d1.keys()

dict_keys([1, 2, 3])

In [59]:
d1.values()

dict_values(['one', 'two', 'three'])

In [60]:
d1.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [62]:
d1[1]='oneone'
d1

{1: 'oneone', 2: 'two', 3: 'three'}

In [63]:
d1[3]

'three'

In [64]:
d2 = {'Name':'Nithu','age':3,'bro':'Y'}
d2

{'Name': 'Nithu', 'age': 3, 'bro': 'Y'}

In [65]:
d2['age']

3

In [67]:
d2['Name']

'Nithu'

In [83]:
d3 = {1:'one',2:('two','six',9,12),3:{33:'three',44:['four',5,6,9]}}
d3

{1: 'one', 2: ('two', 'six', 9, 12), 3: {33: 'three', 44: ['four', 5, 6, 9]}}

In [87]:
d3[2][1]

'six'

In [90]:
d3[3][44][3]

9

## Set
* collection of heterogeneous unique elements
* arranged in ascending order
* operations->union,intersection
* {}
* order of the values in the set is with respect to ASCII values

In [68]:
s1 = {34,12,89,12,1,45,33}
s1

{1, 12, 33, 34, 45, 89}

In [73]:
s2 = {True,1,2,3,11,45,56.56,91,'hi','hello','abi',111}
s2

{11, 111, 2, 3, 45, 56.56, 91, True, 'abi', 'hello', 'hi'}

In [74]:
s2 = {True, 'surya','surya',91.7,3.5,56}
s2

{3.5, 56, 91.7, True, 'surya'}

In [76]:
s2={12,'Hi',4.5,True,1,False,'hi'}
s2

{12, 4.5, False, 'Hi', True, 'hi'}

In [77]:
s1.union(s2)

{1, 12, 33, 34, 4.5, 45, 89, False, 'Hi', 'hi'}

In [78]:
s1.intersection(s2)

{True, 12}

In [93]:
s3 = {'a','b','c'}
print(s3)
s3

{'c', 'b', 'a'}

{'a', 'b', 'c'}

### Functions
* performs a task
* def keyword
* readability & understandability
* easy to debug

In [79]:
# finding area of circle
def area(rad):         # func definition
    ar = 3.14*rad*rad
    print("AREA = ",ar)
area(5)    # func call

AREA =  78.5

Q1) Find the area of traingle using functions
Q2) Calculate volume of cubhoid(10,15,20) and after that convert into a rectangle with length 15 and find the breadth.Use functions.