## Agenda
* Menus, toolbars and shortcut keys of Jupyter NB
* Python Introduction & Features
* Basic Programming syntax
* Data Types
* Typecasting
* Slicing
* Operators
* Some functions

## Short cut keys
* A->insert cells above
* B->insert cells below
* dd->delete the cell
* shift+Enter->Run the cell and goes to next cell
* ctrl+Enter->Run the cell and stays in the same cell
* M->markdown the cell
* Y->code option in the cell
* R-> raw in the cell

### Python
* 1991, Guido Van Rossum
* simple,easy to learn
* Object -oriented language
* open source
* powerful DataScience,Web applications
* portable,interactive
* open community group

### Basic Programming Syntax
* comments-single,multi-line
* print
* Identifiers,variables

# single line comment
"""""" or '''''' multi line comment

In [1]:
# This is single line comment
print("Good Evening")

Good Evening

In [7]:
''' This is first line
second line
third line '''
print('GGood Evening')

GGood Evening

In [4]:
"""This is first line
second line
third line"""
print("Sorry for the inconvenience")
print("Good night")

Sorry for the inconvenience
Good night

In [1]:
print('Good Evening all')

Good Evening all

Identifiers-> names given to identify the variables,function name, packages
Rules
    alphabets/digits/_
    doesn't contain any special chars
    start with _ or alphabets

In [2]:
x1_ = 5
x1_

5

In [5]:
y = 50

In [7]:
x1_ = 20
print(x1_)
y

20

50

In [8]:
name_ = 'Deepa'
name_

'Deepa'

### Data Types
* bool->True/False
* int-> +ve,-ve,0 -whole no
* float-> decimal values-5.67
* str-> group of char,sp ch, digits "  "/'  '

In [9]:
# bool
a = True
b = False
print(a)
print(b)

True
False

In [12]:
type(b) # data type of a variable

bool

In [15]:
# int
x = 67
y = -45
z = 0
print(x,y)
print(y)
print(z)

67 -45
-45
0

In [17]:
type(x)

int

In [18]:
# float
m = 10.56
n = -67.89
print(m,n)

10.56 -67.89

In [19]:
type(m)

float

In [20]:
2**8

256

In [21]:
print("m=",m)
print("n=",n)

m= 10.56
n= -67.89

In [29]:
# str
name = 'Deepa Dhevan12$'
print("My name is ", name)

My name is  Deepa Dhevan12$

In [30]:
type(name)

str

In [26]:
a

True

In [27]:
int(a)

1

In [28]:
int(b)

0

In [31]:
id(a)

140719388813136

In [34]:
#input- input from the user-> str
dd = input("Enter any value")
print("the value is",dd)

Enter any value67
the value is 67

In [35]:
type(dd)

str

In [36]:
dd = int(input("Enter any value"))
print("the value is",dd)

Enter any value67
the value is 67

In [37]:
type(dd)

int

In [38]:
dd = float(input("Enter any value"))
print("the value is",dd)

Enter any value58.23
the value is 58.23

In [39]:
type(dd)

float

### Typecasting
* Auto
* Forced

In [40]:
# Auto
exp = 5 + 4.56
exp

9.559999999999999

In [41]:
exp1 = True + 4 -3.5 + 2
exp1

3.5

In [42]:
# Forced 
bool(5)

True

In [43]:
bool(0)

False

In [44]:
bool(-2)

True

#### Slicing-substring,char
* 3 parameters start,stop(E),step

In [45]:
s1 = "Data Scientist"
s1[0]

'D'

In [46]:
len(s1)

14

In [48]:
s1[5]

'S'

In [50]:
s1[5:11:2]

'Sin'