## Agenda
* Conditional statements
* Loops
* List
* Tuples
* Dictionary
* Sets
* Functions

### Conditional Statements->if, if-else, elif

In [6]:
# if 
num = 5
if(num>0):
    print("The number is positive")
    print("Inside if")
print("Outside if")

The number is positive
Inside if
Outside if

In [10]:
# if -else
num =int(input("Enter a number"))
if(num>0):
    print("The number is positive")
    print("Inside if")
else:
    print("The number is negative")
    print("Inside else")
print("Outside if-else")

Enter a number0
The number is negative
Inside else
Outside if-else

In [13]:
# if -elif
num =int(input("Enter a number"))
if(num>0):
    print("The number is positive")
    print("Inside if")
elif(num<0):
    print("The number is negative")
    print("Inside elif")
else:
    print("The number is Zero")
    print("Inside else")
print("Outside if-elif")

Enter a number5
The number is positive
Inside if
Outside if-elif

In [17]:
# Q) Check whether the given no is divisible by 2,3, 2 and 3
# 12,4,21 
num =int(input("Enter a number"))
if((num%2==0) and (num%3==0)):
    print("Both 2 and 3")
elif(num%2==0):
    print("2")
elif num%3==0 :
    print("3")
else:
    print("NOT")

Enter a number29
NOT

### Loops-> for, while

In [19]:
# while loop
i=1
while(i<=10):
    print("I crossed {} step".format(i))
    i=i+1
print("End of the program")

I crossed 1 step
I crossed 2 step
I crossed 3 step
I crossed 4 step
I crossed 5 step
I crossed 6 step
I crossed 7 step
I crossed 8 step
I crossed 9 step
I crossed 10 step
End of the program

In [21]:
#Q) print 100 to 90 in the reverse order using while loop
i=100
while(i>=90):
    print("I crossed {} step".format(i))
    i=i-2
print("End of the program")

I crossed 100 step
I crossed 98 step
I crossed 96 step
I crossed 94 step
I crossed 92 step
I crossed 90 step
End of the program

In [22]:
#for loop->range-3 params-start,stop(E),step
for i in range(5):  # stop(E)
    print(i)

0
1
2
3
4

In [23]:
for i in range(1,5): #start,stop(E)
    print(i)

1
2
3
4

In [24]:
for i in range(1,10,2): #start,stop(E),step
    print(i)

1
3
5
7
9

In [25]:
for i in range(1,11):
    print("I crossed {} step".format(i))

I crossed 1 step
I crossed 2 step
I crossed 3 step
I crossed 4 step
I crossed 5 step
I crossed 6 step
I crossed 7 step
I crossed 8 step
I crossed 9 step
I crossed 10 step

In [26]:
for i in range(100,89,-2):
    print("I crossed {} step".format(i))

I crossed 100 step
I crossed 98 step
I crossed 96 step
I crossed 94 step
I crossed 92 step
I crossed 90 step

In [27]:
# sum of nos for loop
num = int(input("Enter the number"))
sum=0
for i in range(num+1):
    sum = sum+i
print("Sum=",sum)

Enter the number5
Sum= 15

In [31]:
# sum of nos for loop
sum=0
for i in range(1,51):
    sum = sum+i
print("Sum=",sum)

Sum= 1275

### List
* heterogeneous collection of elements
* []
* mutable- change/modify
* operations->insert,delete

In [32]:
r1 = [1,2,6.7,'hi',True]
r1

[1, 2, 6.7, 'hi', True]

In [33]:
type(r1)

list

In [36]:
#Extract values
r1[2]

6.7

In [38]:
r1[2:]

[6.7, 'hi', True]

In [40]:
r1[-1]

True

In [45]:
d= r1[-1:-4:-1]
d

[True, 'hi', 6.7]

In [46]:
d.reverse() # Reverse the d list
d

[6.7, 'hi', True]

In [47]:
r1[2] = 6
r1

[1, 2, 6, 'hi', True]

### Tuples
* hetereogeneous collection of elements
* ()
* immutable

In [34]:
t1 = (1,2,6.7,'hi',True)
t1

(1, 2, 6.7, 'hi', True)

In [35]:
type(t1)

tuple

In [37]:
t1[2]

6.7

In [39]:
t1[2:]

(6.7, 'hi', True)

In [48]:
t1[2] =6
t1

TypeError: 'tuple' object does not support item assignment

### Dictionary
* collection of key/value pairs
* {},':' separate key & value
* change value not key, key is unique

## Set
* collection of heterogeneous unique elements
* arranged in ascending order
* operations->union,intersection
* {}

### Functions
* def keyword
* readability & understandability
* easy to debug

Q1) Find the area of traingle using functions
Q2) Calculate volume of cubhoid(10,15,20) and after that convert into a rectangle with length 15 and find the breadth.Use functions.